torch==2.7.1
torchvision==0.22.1
anykeystore
attrs
batchgenerators
certifi
chardet
cxxfilt
cycler
dataclasses
decorator
defusedxml
dicom2nifti
future
greenlet
hupper
idna
imageio
importlib-metadata
iniconfig
joblib
kiwisolver
linecache2
MarkupSafe
matplotlib
MedPy
networkx
nibabel
nnunet
numpy
oauthlib
opencv-python
packaging
pandas
PasteDeploy
pbkdf2
Pillow
plaster
plaster-pastedeploy
pluggy
protobuf
py
pydicom
pyparsing
pyramid
pyramid-mailer
pytest
python-dateutil
python3-openid
pytz
PyWavelets
PyYAML
repoze.sendmail
requests
requests-oauthlib
scikit-image
scikit-learn
scipy
SimpleITK
six
SQLAlchemy
tensorboardX
threadpoolctl
tifffile
toml
tqdm
traceback2
transaction
translationstring
typing-extensions
unittest2
urllib3
velruse
venusian
WebOb
WTForms
wtforms-recaptcha
zipp
zope.deprecation
zope.interface
zope.sqlalchemy
